[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
django = "==3.0.3"
boto3 = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
flake8 = "*"
flake8-django = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"
black = "*"
verbecc = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
requests = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
