[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
spacy = "*"
django = "==3.0.3"
boto3 = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
flake8 = "*"
flake8-django = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"
black = "*"
pt-core-news-sm = {file = "https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-2.2.0/pt_core_news_sm-2.2.0.tar.gz"}
verbecc = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
